<div class="fields" id="fort_fields">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    <%= f.label :name, "Ownership" %>
    <%= f.text_field :ownership %>
	<%= f.hidden_field :xco %>
	<%= f.hidden_field :yco %>
	<%= f.hidden_field :territory %>
	<%= f.hidden_field :date_created %>
</div>
