<h1>Create a New Fort</h1>
    <%= form_for(@fort) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :ownership %>
      <%= f.text_field :ownership %>

<div style="display:none;">

      <%= f.label :xco %>
      <%= f.text_field :xco %>

      <%= f.label :yco %>
      <%= f.text_field :yco %>

      <%= f.label :territory %>
      <%= f.password_field :territory %>

</div>

      <%= f.submit "Create a Fort" %>
    <% end %>
